body {
  font-family: 'Roboto', sans-serif;
  background-color: #212121;
  color: white;
  text-align: center;
  font-size: 30px;
}
#taskInput {
  font-size: 30px;
  background-color: #1e1c1c;
  border: none;
  color: white;
}
.button {
  font-size: 30px;
  color: white;
  background-color: #1e1c1c;
  border: none;
  cursor: pointer;
}
#deleteBtn,
#editBtn,
#statusBtn {
  margin-left: 15px;
}
.task {
  cursor: pointer;
}
